.container {
  height: 50px;

  display: flex;
  align-items: center;
  padding: 0 30px;
  background: black;
}

.icon {
  height: 40px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
